

<div ngClass="container" >

  <app-header></app-header>
  <alert></alert>
  
  <!--Content-->
  
  


<p ngClass="text"  >
  A convenient place to test the VIZ styling:
</p>


  <!--  
  <button (click)="incScore(1)"  >Inc score</button>
  <button (click)="incScore(10)"  >Inc score 10</button>
  <app-score [score]="vizData.score"  >
  </app-score>
-->

<!--   -->

<!--  
<hr>
 
<div style="padding:4vh; position:relative; width:40vw; height:40vh">
  <app-flourish-text flourishStyle="nice"  > 
    It's a quiz game where the answers are always a number.   
  </app-flourish-text>
</div> -->

<!-- -->
<hr>
<div style="width:100%">  
  <app-intro-page >  </app-intro-page>
</div>

<!-- -->
<hr>

<hr>
<!-- -->


<div style="width:100%">  
  <app-authentication-page  [vizData]="vizData" >  </app-authentication-page>
</div>



<hr>
<div style="width:100%">  
  <app-pregame-page  >  </app-pregame-page>
</div>


<hr>
<!-- -->
<div style="width:100%">  
  <app-playing-page  [vizData]="vizData">
  </app-playing-page>
</div>
 

<hr>
<div style="width:100%">  
  <app-final-page  [vizData]="vizData" >  </app-final-page>
</div>



  
  <app-footer></app-footer>
  
</div>
  
  
  








  


