
@import "../range-selector.component.scss";




/*
.bar {
  stroke: rgb(0,0,0);
  stroke-width: 0.3;
  fill: rgb(0,0,255);
}


*/

.label {
  stroke: black;
  stroke-width: 0.3;
  fill: lightblue;
}

/*
.minMaxlabel {
  fill: lightpink;
}*/
